:root {
  --mainColor: rgb(145, 205, 207);
  --secondaryColor: rgb(51, 54, 61);
  --fontColor: rgb(68, 88, 119);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
  width: 1027px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
  font-size: 16px;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 15px 15px 15px 0px;
  background-color: var(--secondaryColor);
}

h1 {
  color: var(--secondaryColor);
  background-color: var(--mainColor);
  font-size: 20px;
  font-weight: 700;
  font-style: oblique;
  padding: 5px;
  margin-left: 0;
}

.header nav ul li {
  display: inline-block;
  font-size: 20px;
  border-bottom: 2px solid var(--mainColor);
  border-color: var(--mainColor);
  margin-right: 10px;
}

.navLink {
  color: var(--mainColor);
  padding: 10px;
}

.navLink a:hover, nav a:focus {
  background-color: var(--mainColor);
  color: var(--secondaryColor);
}

.hero-banner {
  width: 100%;
  background-image: url("/assets/images/02-hero-bg.jpg");
  background-size: cover;
  background-position: center;
  background-color: var(--mainColor);
}

.hero {
  background-color: rgba(34, 69, 103, 0.3);
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-end;
}

.hero h2 {
  margin-left: 150px;
  color: var(--secondaryColor);
  font-size: 20px;
  font-weight: 700;
  font-style: oblique;
  margin-right: 60px;
  margin-bottom: 20px;
  background-color: var(--mainColor);
}

.hero img {
border-radius: 50%;
object-fit: cover;
margin: 20px 70px 20px 20px;
height: 150px;
width: 150px;
border: 4px solid var(--mainColor);
}

.page-wrapper {
  background-color: #EEEEF7;
  padding: 15px 80px;
}

.page-section {
  display:flex;
  justify-content: space-between;
  color: var(--fontColor);
  margin-bottom: 20px;
}

.page-section h2 {
  font-size: 30px;
  line-height: normal;
  border-right: 3px solid var(--fontColor);
  width: 150px;
  padding-right: 8px;
  text-align: end;
}

.aboutMe p {
  margin-bottom: 5px;
  font-size: 12px;
}

.rightBlock {
  margin-left: 20px;
  width: 100%;
}

.workList {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 200px 85px 85px;
  grid-template-areas: 
  'surfReport surfReport'
  'ledWall calculator'
  'pastelPuzzels runBuddy';
  grid-gap: 16px;
}

.surfReport {
  grid-area: surfReport;
  background-image: url(/assets/images/02-portfolio-4.jpg);
  object-fit: contain;
  background-position: center;
  background-size: 190%;
}

.ledWall {
  grid-area: ledWall;
  background-image: url(/assets/images/02-portfolio-1.jpg);
  object-fit: contain;
  background-position: center;
  background-size: 100%;
}

.calculator {
  grid-area: calculator;
  background-image: url(/assets/images/02-portfolio-2.jpg);
  object-fit: contain;
  background-position: center;
  background-size: 100%;
}

.pastelPuzzels {
  grid-area: pastelPuzzels;
  background-image: url(/assets/images/02-portfolio-3.jpg);
  object-fit: contain;
  background-position: center;
  background-size: 100%;
}

.runBuddy {
  grid-area: runBuddy;
  background-image: url(/assets/images/02-run-buddy.jpg);
  object-fit: contain;
  background-position: center;
  background-size: 100%;
}

.workList a {
  border: 3px solid var(--mainColor);
}

.workInfo {
  display: inline-block;
  height: auto;
  margin-bottom: 10px;
  padding: 5px 10px;
  background-color: var(--mainColor);
  color: var(--secondaryColor);
  font-size: 14px;
  z-index: 2;
}

.workInfo p {
  font-size: 12px;
}

.workInfo h3 {
  font-size: 16px;
}

.project {
  display: flex;
  align-items: flex-end;
  position: relative;
}

.project::after {
  content: '';
  /* Create an empty pseudo-element to cover the background with color */
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(68, 88, 119, 0.7);
}

.contactList {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-position: center;
  background-size: 100%;
}

.contactLink {
  color: var(--fontColor);
  border-bottom: 4px solid var(--fontColor);
  padding-bottom: 3px;
}

.contactLink:hover, .contactLink:focus {
  background-color: var(--fontColor);
  color: var(--mainColor);
}

@media only screen and (max-width: 600px) {
  body {
    width:auto;
  }

  .page-wrapper {
    padding: 15px;
  }

  .page-section {
    display: inline-block;
    width: 100%;
  }

  .page-section h2 {
    border-bottom: 3px solid var(--fontColor);
    border-right: none;
    margin-bottom: 10px;
    width: auto;
  }

    .rightBlock {
      margin: 0px;
    }

    .workList {
   width: 100%;
    }

  .contactList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .contactList li {
    margin: 10px 15px;
  }
}